

h3{
  color:#0da9fd;
  margin-bottom: 30px;
}

 ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
  list-style-type: none!important;
} 


 .signin{
  float: right; 
  color: #f2f2f2;
  padding: 14px 12px;
  text-decoration: none; 
  margin-top: -20px;  
  display: inline;
} 


a {
  font-size: 1.2em;
  color: #0da9fd;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.img1{
  background-image: url("https://i.imgur.com/ZD859uS.jpg");
  background-repeat: no-repeat;
  margin-top: 60px;
  text-align: center;
  padding-top: 20px;
  text-transform: uppercase;
  color: white;
}


.text{
  
  color: #0da9fd;
} 

.signout{
margin-right: 168px;
 margin-top: -314px;   
padding: 14px 20px!important;

}



form {
  display: block;
  margin-top: 90px!important;
  padding: 20px;
  width: 50%!important;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;

}

.form-group {

  margin-bottom: 1rem;
}

.alert-danger {
  width: 50%!important;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

body {
  margin: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 40;
  color: #212529;
  text-align: left;
  background-color: #f0f6f7;
}


#root{
  margin-top: 50px;
}

.welcome{
color:gainsboro;}

.App-header {
  margin-top: 70px;
  text-align: center;
  padding-top: 20px;
  background-image: url("https://i.imgur.com/3J2pK6h.png");
  background-color: #fff;
  text-transform: uppercase;
  color: white;
}

.App-header h1, .App-header h2 {
  font-family: "Playfair Display", Helvetica, Arial, sans-serif;

}

.App-header h1 {
  font-size: 4.5rem;
}

.App-header h2 {
  font-size: 2.8rem;
}

.info {
  text-align: center;
}

.notification {
  margin: 15px 0 0;
  width: 100%;
  min-height: 24px;
}

.input {
  border: 0;
  background: none;
  outline: none;
}

.input:focus {
  color: #3c59a0;
}

textarea {
  resize: none;
  width: 100%;
  height: 100%;
}

.deleteButton {
  visibility: hidden;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
  color: red;
}

.card:hover .deleteButton {
  visibility: visible;
}

.card {
  margin: 15px 0;
  border-style: solid;
  border-color: red green blue yellow;
}

.card-title {
  display: flex;
  justify-content: space-between;
}

.nav-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.title {
  margin-top: 45px ;
}

.demoIdeas {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.demoIdeas .card {
  border: 3px solid #81dae8;
}

.demoIdeas .card {
  max-width: 400px;
}

.btn a {
  color: white;
}

.btn-success {
  margin: 25px 0;
}

@media only screen and (min-width: 768px) {
  .demoIdeas .card {
    width: 720px;
    max-width: 90%;
    display: flex;
    flex-direction: row;
  }
  .demoIdeas .card-img-top {
    width: 70%;
  }
}
@media only screen and (max-width: 1023px) {
  .deleteButton {
    visibility: visible;
  }
  .info {
    text-align: left;
  }
}
